<!doctype html>
<html lang="en">
<!-- TODO: MAKE A FUNCTION EVERY TIME THE INSTANCE BUTTON IS CLICKED TO DELETE THAT BUTTON -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Learn Sign</title>

    <style>
        .output_canvas {
            width: 80%;
            height: 80%;
        }
    </style>
</head>

<body>
    <header>
        <!-- Jumbotron -->
        <div class="p-5 text-center bg-light">
            <h1 class="mb-3">Add Signs</h1>
            <a class="btn btn-primary" href="/practice" role="button">Pratice Sign</a>
            <a class="btn btn-primary" href="/" role="button">Home</a>
            <a class="btn btn-primary" href="/grid" role="button">View Sign</a>
        </div>
        <!-- Jumbotron -->
    </header>

    <div class="col-4">
        <label for="sign_name">What letter/number/word does the sign correlate to?</label>
        <input required class="form-control" id="sign_name" placeholder="Sign name">


        <label for="moving_yn">Does your hand moves while signing this?</label>
        <input list="moving_yn" id="moving" name="moving" placeholder="No">
        <datalist id="moving_yn">
            <option selected value="No">Your hand does not move while signing this
                (ex, 'a' is a static fist)</option>
            <option value="Yes">Your hand does move while signing this
                (ex, 'sorry' is a rotating fist)</option>
        </datalist>

        <label for="torso_yn">Is the upper body included in this sign?</label>
        <input list="torso_yn" id="torso" name="torso" placeholder="No">
        <datalist id="torso_yn"> <!-- where i left off: trying to make the torso yes/no value happen in javascript-->
            <option selected="selected" value="No">Only your hand matters
                (ex, 'a' is only static fist)</option>
            <option value="Yes">Your torso is involved
                (ex, 'sorry' is a rotating fist on your chest)</option>
        </datalist>

        <!-- <label for="tracking_tip">If this sign requires movement, please select which part of the hand is moving</label>
        <input list="tracking_tip" id="trace_tip" name="trace_tip" value="NONE">
        <datalist id="tracking_tip">
            <option value="NONE">This sign is stationary</option>
            <option value="WRIST">Wrist</option>
            <option value="THUMB_CMC">Thumb carpometacarpal</option>
            <option value="THUMB_MCP">Lowest thumb joint</option>
            <option value="THUMB_IP">Middle thumb joint</option>
            <option value="THUMB_TIP">Thumb finger tip</option>
            <option value="INDEX_MCP">Lowest index finger joint</option>
            <option value="INDEX_PIP">Second-lowest index finger joint</option>
            <option value="INDEX_DIP">Second-highest index finger joint</option>
            <option value="INDEX_TIP">Index finger tip</option>
            <option value="MIDDLE_MCP">Lowest middle finger joint</option>
            <option value="MIDDLE_PIP">Second-lowest middle finger joint</option>
            <option value="MIDDLE_DIP">Second-highest middle finger joint</option>
            <option value="MIDDLE_TIP">Middle finger tip</option>
            <option value="RING_MCP">Lowest ring finger joint</option>
            <option value="RING_PIP">Second-lowest ring finger joint</option>
            <option value="RING_DIP">Second-highest ring finger joint</option>
            <option value="RING_TIP">Ring finger tip</option>
            <option value="PINKY_MCP">Lowest pinky finger joint</option>
            <option value="PINKY_PIP">Second-lowest pinky finger joint</option>
            <option value="PINKY_DIP">Second-highest pinky finger joint</option>
            <option value="PINKY_TIP">Pinky finger tip</option>
        </datalist> -->

        <button id="begin">Begin Capture</button>
    </div>


    <div class="container">
        <video hidden class="input_video">
        </video>
        <canvas class="output_canvas" width="1280px" height="720px"></canvas>
    </div>

    <div id="instances"></div>

    <div id="submit_instances">
        <button hidden id="submit_instancesButton">Submit Signs</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/pose/pose.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script type="module">
        const videoElement = document.getElementsByClassName('input_video')[0];
        const canvasElement = document.getElementsByClassName('output_canvas')[0];
        const canvasCtx = canvasElement.getContext('2d');

        let begin = document.getElementById("begin")
        let sign_name_input = document.getElementById("sign_name")
        let buttonNumber = 0
        // let traceTip = document.getElementById("trace_tip").value
        let i = document.getElementById("instances")
        let submitButton = document.getElementById("submit_instancesButton")

        var instanceCount = 0;
        var countdown = 0;
        var sign_count = 0; // the user must submit a minimum of [x] amount of signs for the data to be added to the csv
        var gathered_signs_collection = []
        var gathered_signs_collection_hand = []
        var gathered_signs_collection_pose = []

        var pose_gathered = []
        var startCapture = false
        var dataList = []
        var dataList_pose = []
        var data = {}
        var delete_instances = {} // every time you add a add sign, that data will be put as the value in a key-value pair--if you want to delete that instance, then they will be deleted from the dataList 

        if (i.childElementCount != 0) {
            var instanceCount = parseInt(i.lastChild.innerText)
        }

        // .addEventListener looks for specific changes in a specified element (eg if a button gets clicked) and then triggers a function when that change is detected
        window.addEventListener('keydown', capture, false);
        begin.addEventListener("click", buttonCapture)
        sign_name_input.addEventListener("change", get_sign)

        function get_sign() {
            let sign_name = document.getElementById("sign_name").value
            return sign_name
        }

        function draw(text, x, y) {
            // var ctx = document.getElementsByClassName('canvas').getContext('2d');
            // const canvasElement = document.getElementsByClassName('output_canvas')[0];
            // const canvasCtx = canvasElement.getContext('2d');
            canvasCtx.font = '48px serif';
            canvasCtx.fillText(text, x, y);
        }

        function capture(e) {
            console.log(e)
            if (e.key == 'Enter' && startCapture == false && get_sign() != "") { // || means "or" in js 
                dataList = []
                dataList_pose = []
                console.log("begin capture")
                startCapture = true
            }
        }

        function buttonCapture() {
            if (get_sign() != "") {
                if (startCapture == false) {
                    dataList = []
                    dataList_pose = []
                    console.log("begin capture button")
                    startCapture = true
                }
            }
        }

        function instanceClicked(buttonNumber, instanceButton) {
            console.log("clicked")
            console.log(buttonNumber, delete_instances[buttonNumber])
            let del_index = gathered_signs_collection.findIndex(element => element == delete_instances[buttonNumber])
            // function "findIndex" takes the element and finds the index when the condition element = delete_instances[buttonNumber] is met
            gathered_signs_collection.splice(del_index)
            delete delete_instances[buttonNumber]
            // instanceButton.remove()
            i.removeChild(instanceButton);
            // i.children.splice(buttonNumber, 1) // this removes the actual button itself
            sign_count -= 1
            instanceCount -= 1

            if (i.childElementCount < 5) {
                submitButton.hidden = true
            }

        }

        function addInstances(instance) {
            let instanceButton = document.createElement('button')  // creates a button 

            buttonNumber = Object.keys(delete_instances).length
            instanceButton.setAttribute("id", "button" + buttonNumber)
            instanceButton.innerText = instance // sets button text to be instance
            instanceButton.addEventListener('click', () => { instanceClicked(buttonNumber, instanceButton) }) // set a function that makes it print 'clicked' everytime it is clicked
            i.appendChild(instanceButton) // adds button to the div containing all the buttons

            instanceCount += 1
            // i.innerHTML = i.innerHTML + `<button>${instance}</button>` // this makes a button with the number of sign that was added every time a sign is added
        }

        function onResults(results) {
            var moving = document.getElementById("moving").value
            let torso = document.getElementById("torso").value


            canvasCtx.save();
            canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);
            canvasCtx.drawImage(results.image, 0, 0, canvasElement.width, canvasElement.height);

            draw("Countdown: " + countdown, 100, 100)
            draw("Sign: " + get_sign(), 100, 150)
            draw("Signs acculmated: " + sign_count, 100, 200)

            // if (results.multiHandLandmarks || results.poseLandmarks) {
            //     // console.log('POSE LANDMARKS!', results.poseLandmarks)
            //     drawConnectors(canvasCtx, results.poseLandmarks, POSE_CONNECTIONS,
            //             { color: '#00FF00', lineWidth: 4 }); // green
            //     drawLandmarks(canvasCtx, results.poseLandmarks,
            //             { color: '#FF0000', lineWidth: 2 }); // red
            //     // for (const landmarks of results.multiHandLandmarks) {
            //     drawConnectors(canvasCtx, results.multiHandLandmarks, HAND_CONNECTIONS,
            //             { color: '#00FF00', lineWidth: 5 });
            //     drawLandmarks(canvasCtx, results.multiHandLandmarks, { color: '#FF0000', lineWidth: 2 });
            //     // }

            // NEW IDEA: IF YOU NEED BOTH POSE AND HANDLANDMARKS UH. MAKE THE FRAMES TWIVE AS LONG! AND REMOVE THE EXTRA UNDEFINDES. YEAH.
            // } 

            if (torso == "No") {
                if (results.multiHandLandmarks && startCapture) {
                    for (const landmarks of results.multiHandWorldLandmarks) {

                    console.log("IT IS NO. HUZZAH.")
                    console.log('HAND LANDMARKS', landmarks)

                    // console.log('HEY. LOOK.', results.poseLandmarks)

                    console.log("TORSO", torso)
                    console.log("MOVING", moving)
                    countdown++;  // ++ = + 1
                    dataList.push([].concat(landmarks))  // creates a new list every time and pushes landmarks into that list, which then gets merged into dataList
                    // this is to prevent the last sign captured from overwriting all the previous ones, which was a recurring error
                    // by pushing it into a list first, landmarks isn't the same variable being stored over and over

                    if (countdown == 40) {
                        startCapture = false;
                        countdown = 0;
                        sign_count += 1;
                        gathered_signs_collection.push([].concat(dataList))
                        delete_instances[sign_count] = dataList
                        addInstances(sign_count)
                        console.log('INSTANCE PAIRS', delete_instances)
                        dataList = []

                        // parseInt(i.lastChild.innerText)

                        if (sign_count == 1) {
                            submitButton.hidden = false // makes the button visible
                            // console.log('TRACE_TIP', traceTip)
                            submitButton.addEventListener('click',
                                () => {
                                    axios.post('/add_collection', { 'collected_data': gathered_signs_collection, 'sign_name': get_sign(), 'moving': moving, 'torso': torso});
                                    sign_count = 0;
                                    buttonNumber = 0;

                                    delete_instances = [];
                                    gathered_signs_collection = [];


                                    i.innerHTML = "";

                                    submitButton.hidden = true;
                                }
                            ); // set a function that makes it print 'clicked' everytime it is clicked                                   
                        }
                    }


                }
                }

            }

            else if (torso == "Yes") { // okay so for some reason both multi hand AND pose will not collect at the same time
                // eiteher pose is undef or hand is --> make a second output canvas that's hidden that has pose projected on it?
                // hell you could even unhide it that way you can have both pose and hands be shown at once
                // then when you chose yes for torso collect data from that? aactually now tjat i think about it maybe that wouldnt work beacuse youre collecting data from the results itself not really the output canvas
                // THOT: send the entire result over to the python side via post; then do all the processiing there? just collect five versions of results and pass that along
                // console.log('HELLO. PLEASE')
                if (startCapture) {
                        console.log("Hello>>")
                        console.log("lets see", results)
                        console.log('HAND LANDMARKS', results.multiHandLandmarks)
                        console.log('POSE LANDMARKS', results.poseLandmarks)
                        console.log('POSE TET', results.poseLandmarks)

                        // console.log('HEY. LOOK.', results.poseLandmarks)

                        console.log("TORSO", torso)
                        console.log("MOVING", moving)
                        countdown++;  // ++ = + 1
                        if (results.multiHandLandmarks) {
                            dataList.push([].concat(results.multiHandWorldLandmarks))  
                        } 
                        if (results.poseLandmarks) {
                            dataList_pose.push([].concat(results.poseWorldLandmarks))
                            console.log('try', Array.from(dataList_pose))
                        }
                        // creates a new list every time and pushes landmarks into that list, which then gets merged into dataList
                        // this is to prevent the last sign captured from overwriting all the previous ones, which was a recurring error
                        // by pushing it into a list first, landmarks isn't the same variable being stored over and over

                        // hands: each frame is its own array, and within that array are 21 arrays, each containing a dictionary of {x, y, z} 
                        // pose: each frame is just one huge array of 30???
                        if (countdown == 80) {
                            startCapture = false;
                            countdown = 0;
                            sign_count += 1;
                            let bothData = dataList.concat(dataList_pose)
                            console.log('BOHT', bothData)
                            console.log('HAND,', dataList)
                            
                            gathered_signs_collection.push([].concat(bothData))
                            gathered_signs_collection_pose.push([].concat(dataList_pose))
                            gathered_signs_collection_hand.push([].concat(dataList))

                            pose_gathered.push([].concat(dataList_pose))
                            console.log('POSE ISNTANCE')
                            delete_instances[sign_count] = dataList
                            addInstances(sign_count)
                            console.log('INSTANCE PAIRS', delete_instances)
                            dataList = []
                            bothData = []

                            // parseInt(i.lastChild.innerText)

                            if (sign_count == 1) {
                                submitButton.hidden = false // makes the button visible
                                // console.log('TRACE_TIP', traceTip)
                                submitButton.addEventListener('click',
                                    () => {
                                        axios.post('/add_collection', { 'collected_data': gathered_signs_collection, 'sign_name': get_sign(), 'moving': moving, 'torso': torso,
                                            'hand_data': gathered_signs_collection_hand, 'pose_data': gathered_signs_collection_pose});
                                        sign_count = 0;
                                        buttonNumber = 0;

                                        delete_instances = [];
                                        gathered_signs_collection = [];
                                        gathered_signs_collection_pose = [];
                                        gathered_signs_collection_hand = [];


                                        i.innerHTML = "";

                                        submitButton.hidden = true;
                                    }
                                ); // set a function that makes it print 'clicked' everytime it is clicked                                   
                            }
                        }
                    
                }
                
            }            

            canvasCtx.restore();
        }

        const pose = new Pose({
            locateFile: (file) => {
                return `https://cdn.jsdelivr.net/npm/@mediapipe/pose/${file}`;
            }
        });

        pose.setOptions({
            modelComplexity: 1,
            smoothLandmarks: true,
            enableSegmentation: true,
            smoothSegmentation: true,
            minDetectionConfidence: 0.5,
            minTrackingConfidence: 0.5
        });

        pose.onResults(onResults);

        const hands = new Hands({
            locateFile: (file) => {
                return `https://cdn.jsdelivr.net/npm/@mediapipe/hands/${file}`;
            }
        });

        hands.setOptions({
            maxNumHands: 1,  // change back to 2 later
            modelComplexity: 1,
            minDetectionConfidence: 0.5,
            minTrackingConfidence: 0.5
        });

        hands.onResults(onResults);

        const camera = new Camera(videoElement, {
            onFrame: async () => {
                await hands.send({ image: videoElement });
                await pose.send({ image: videoElement });
            },

            width: 1280,
            height: 720
        });

        camera.start();

    </script>

</body>

</html>