<!-- NOTE: ACTUAL CURRENT ONE AS OF MARCH 22-->
<!-- TODO: I AM TRYING TO FIGURE OUT HOW TO MAKE THE GRID INITIALIZE AS THE SIZE I WANT 
FINDINGS: WHEN I CONSOLE.LOG(GETCANVAS) (SEE SCRIPT BELOW), THE ATTRIBUTES ARE SET TO WIDTH=300 AND HEIGHT=156)
OF NOTE: THE IN-LINE STYLE TAGS ARE SET TO style="width: 400px; height: 250px;" 
OF NOTE: INTERESTINGLY, THE IN-LINE STYLE WIDTH/HEIGHT CHANGE IN ACCORDANCE TO RESIZECANVAS() FUNCTION AND THE STYLE TAG @MEDIA 
    SIDE NOTE: IT IS LIKELY BECAUSE OF THE STYLE TAG BELOW; I DONT THINK RESIZECANVAS() KICKS EXACTLY AT INITIALIZATION
OF NOTE: THE ATTRIBUTES COME AFTER THE IN-LINE CSS 
HYPOTHESIS: THE ATTRIBUTES PRE-SET BY MEDIAPIPE ARE CAUSING THE FIRST DELAY AT THE INTIAL LOAD
ACTION: TRY TO CHANGE THE ATTRIBUTES BY SETTING THEM IN RESIZECANVAS() / CHANGING THE MEDIAPIPE VARIABLES / ETC -->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Grid!</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils_3d@0.3/control_utils_3d.css"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.6/control_utils.css" crossorigin="anonymous">

        <style>
            @media screen and (max-width: 767) { 
                .landmark-grid-container {
                    width: 250px;
                    height: 400px; 
                }
            }

            @media screen and (min-width: 768) and (max-width: 991) { 
                .landmark-grid-container {
                    width: 300px;
                    height: 450px; 
                }
            }

            @media screen and (min-width: 992) { 
                .landmark-grid-container {
                    width: 350px;
                    height: 500px; 
                }
            } 
            
    
        .landmark-label-js { display: none; }

        .square-box { position: absolute; }
            
        #square-box-2 { opacity: 50%; } 

        .square-box-container { position: relative }

        #grid-element { position: relative }

        #grid-element, #sign-input { margin: 10px; }

        #grid-element { margin-left: -10px; }

        #sign-input { margin-left: 15px; }

       
        </style>
</head>

<body>
    <header>
        <!-- Navigation bar -->
        <div id="navheader" class="p-5 text-center bg-light">
            <h1 class="mb-3">View Signs!</h1>
            <a class="btn btn-primary" href="/practice" role="button">Pratice Sign</a>
            <a class="btn btn-primary" href="/" role="button">Home</a>
            <a class="btn btn-primary" href="/add_collection" role="button">Add Signs</a>
        </div>
    </header>


    <p hidden id="alert">
        {{sign_404}}
    </p> 

    <div class="position-fixed p-3 hide" style="z-index: 11"> <!--This is the pop-up for if a sign is not in database-->
        <a class="btn btn-primary position-fixed bottom-0 end-0 me-2 mb-2" style="z-index: 1" id="remind-user-signs" role="button">What Signs Are Available?</a>
        <div id="liveToast" class="bottom-0 end-0 toast" style="z-index: 999;" role="alert" aria-live="assertive" aria-atomic="true">

            <div class="toast-header">
                <strong class="me-auto">Available signs to view</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>

            <div class="toast-body" id="toast-body"></div>
        </div>
    </div>

    <!-- Select a sign to view on the grid-->
    <div id="center-all" class="container bg-white">
            <!-- Take in input from the camera and display on the grid-->
            <video hidden class="input_video"></video>
            <canvas hidden class="output_canvas" width="1280px" height="720px"></canvas>
        <div class="row w-100">

            <div class="col-sm-5 bg-dark" id="sign-input">
                <div class="col-8 col-sm-8 col-md-6 col-lg-4">
                    <input onchange="get_sign()" class="form-control" id="sign_data" placeholder="Chose a sign">
                </div>

            </div>

            <div class="col-sm-3 bg-warning" id="grid-element">

                <div class="container" id="square-box-container">

                    <div class="square-box" id="square-box-1">
                        <!-- static sign -->
                        <div class="landmark-grid-container" id="landmark-grid-container-1"></div>
                    </div>

                    <div class="square-box" id="square-box-2">
                        <!-- moving sign -->
                        <div class="landmark-grid-container" id="landmark-grid-container-2"></div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils@0.6/control_utils.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils_3d@0.3/control_utils_3d.js"
        crossorigin="anonymous"></script>

    <script>
        let static_sign = [];
        let landplaceholder = []
        let frame_count = 0  // helps for the moving signs
        var sign_input = document.getElementById("sign-input")

        function resizeCanvas(canvases) {
            
            if (window.innerWidth < 768) { // from small to extra small 
                canvases[0].style.height = canvases[1].style.height = "250px" 
                // canvases[0].height = canvases[1].height = "250"
                canvases[0].style.width = canvases[1].style.width = "400px"
                // canvases[0].width = canvases[1].width = "400"
                console.log("this is small")
            }
            
            else if (992 > window.innerWidth && window.innerWidth >= 768) { // medium
                canvases[0].style.height = canvases[1].style.height = "300px" 
                // canvases[0].height = canvases[1].height = "300" 
                canvases[0].style.width = canvases[1].style.width = "450px"
                // canvases[0].width = canvases[1].width = "450"
                console.log("this is medium")

            }

            else if (window.innerWidth >= 992) { // large to extra large
                canvases[0].style.height = canvases[1].style.height = "350px" 
                // canvases[0].height = canvases[1].height = "350" 
                canvases[0].style.width = canvases[1].style.width = "500px"
                // canvases[0].width = canvases[1].width = "500"
                console.log("this is large")

            }
    
        }

        function get_sign() {
            let sign = document.getElementById("sign_data").value

            axios.post('/grid', { 'example_sign': sign }).then(
                (response) => {
                    landplaceholder = response.data["example_datapoints"]
                    console.log('SIGN?', landplaceholder.length)
                    moving = response.data["moving"]
                    trace_tip = response.data["trace_tip"]
                    
                    let alert = document.getElementById("alert")
                    alert.textContent = response.data["sign_404"]

                    moving_points_plot = response.data["moving_points_plot"]
                    console.log(trace_tip)

                },
                (error) => {
                    console.log(error)  // if error occurs during prediction, notification pops up
                }

            );
        }

        const toastTrigger = document.getElementById('remind-user-signs')
        const toastLiveExample = document.getElementById('liveToast')
        if (toastTrigger) {
        toastTrigger.addEventListener('click', () => {
            console.log('SOMETHING HAPPENED HERE')
            let sign_404_content = document.getElementById('alert').textContent
            console.log(sign_404_content)
            var toast_content = document.getElementById('toast-body')
            toast_content.innerHTML = sign_404_content + 'If no example sign shows up on the grid, that means you have selected a sign that is not in our database!' // sets pop-up content
            var toast = new bootstrap.Toast(toastLiveExample)

            toast.show()
        })
        }

        // var toastLiveExample = document.getElementById('liveToast') // creates a pop-up
        // var toast_content = document.getElementById('toast-body')
        // toast_content.innerHTML = 'This sign is not currently in the database. ' // sets pop-up content
        // var toast = new bootstrap.Toast(toastLiveExample)

        // toast.show() 

        const videoElement = document.getElementsByClassName("input_video")[0];
        const canvasElement = document.getElementsByClassName("output_canvas")[0];
        const canvasCtx = canvasElement.getContext("2d");

        const landmarkContainer = document.getElementsByClassName(
            "landmark-grid-container"
        )[0];

        const landmarkContainer2 = document.getElementsByClassName("landmark-grid-container")[1];

         
        const grid2 = new LandmarkGrid(landmarkContainer2, {  // this grid is for moving signs
            connectionColor: 0xcccccc,
            definedColors: [
                { name: "Right", value: 0x00ffff },  // sets hand color
                { name: "Left", value: 0x00ffff }  // sets hand color

            ],
            range: 0.2,
            fitToGrid: false,
            labelPrefix: "", 
            landmarkSize: 2,
            numCellsPerAxis: 4,
            showHidden: false,
            centered: false,
        });

        const grid = new LandmarkGrid(landmarkContainer, { // this grid is for static signs
            connectionColor: 0xcccccc,
            definedColors: [
                { name: "Left", value: 0xffa500 },  // sets hand color
                { name: "Right", value: 0xffa500 }  // sets hand color

            ],
            range: 0.2,
            fitToGrid: false,
            labelPrefix: "",
            landmarkSize: 2,
            numCellsPerAxis: 4,
            showHidden: false,
            centered: false,
        });

        // this section is to handle when you rotate the canvas manually so that both rotate in sync 
        // 
        
        let gridCanvas = document.getElementsByClassName("viewer-widget-js") 
        // resizeCanvas(canvases)
        console.log("THIS IS THE GRIDCANVAS", gridCanvas)

        // gridCanvas --> two viewer-widget-js --> child 0 of both has 
        let moving = 0
        let secondCanvas = gridCanvas[1].children[0]
        let ifPaused = 0

        secondCanvas.onmousedown = (event) => {
            event.preventDefault();
            const speed = grid.config.rotationSpeed;
            const origRotation = grid.rotation;
            grid.rotationSpeed = 0;  
            grid2.rotationSpeed = 0;           
         
            const mouseMove = (
                (e) => {
                    
                    e.preventDefault();
                    rotation = 2 * Math.PI * (event.offsetX - e.offsetX) / secondCanvas.width;
                    const distance = Math.hypot(grid.camera.position.x, grid.camera.position.z);
                    
                    grid.rotation = origRotation + rotation;
                    grid.camera.position.x = Math.sin(this.rotation) * distance;
                    grid.camera.position.z = Math.cos(this.rotation) * distance;
                    grid.camera.lookAt(0);

                    grid2.rotation = origRotation + rotation;
                    grid2.camera.position.x = Math.sin(this.rotation) * distance;
                    grid2.camera.position.z = Math.cos(this.rotation) * distance;
                    grid2.camera.lookAt(0);

                    grid.config.isRotating = true
                    grid2.config.isRotating = true

                    console.log(grid2)


                }
            );

            const mouseUp = (
                
                (e) => {
                    
                    e.preventDefault();
                    secondCanvas.removeEventListener('mousemove', mouseMove);
                    grid.config.rotationSpeed = speed;
                    grid2.config.rotationSpeed = speed;
                    secondCanvas.removeEventListener('mouseup', mouseUp);
                    if (ifPaused == 1) {
                        grid.config.isRotating = false
                        grid2.config.isRotating = false

                    }
                }
            );
            
            secondCanvas.addEventListener('mousemove', mouseMove);
            secondCanvas.addEventListener('mouseup', mouseUp);
    }
        // this section is to handle the specific issue of only one grid pausing when the pause button is clicked
        // note: it was occuring because the grids were overlapped entirely, thus causing the underneath pause button to be unclickable

        let pauseButton = document.getElementsByClassName("controls");  // this is the pause button on the grid
        let secondPause = pauseButton[1];  // this is the pause button specifically for the grid on top
        
        secondPause.onclick = (event) => {  // when the pause button on top is clicked
            if (grid2.config.isRotating) {  // this is to stop the grids from rotating (for some reason the url for the images are swapped, this correct)
                pauseButton[0].src = "https://fonts.gstatic.com/s/i/googlematerialicons/play_arrow/v14/white-24dp/1x/gm_play_arrow_white_24dp.png";  // switches from the two rectangles to the triange for the top pause button
                grid2.config.isRotating = false;  // stops the top grid from rotating
                pauseButton[1].src = "https://fonts.gstatic.com/s/i/googlematerialicons/play_arrow/v14/white-24dp/1x/gm_play_arrow_white_24dp.png"; // switches from the two rectangles to the triange for the bottom pause button
                grid.config.isRotating = false; // stops the bottom grid from rotating
                ifPaused = 1
            }
            else {
                pauseButton[0].src = "https://fonts.gstatic.com/s/i/googlematerialicons/pause/v14/white-24dp/1x/gm_pause_white_24dp.png";
                grid2.config.isRotating = true;
                pauseButton[1].src = "https://fonts.gstatic.com/s/i/googlematerialicons/pause/v14/white-24dp/1x/gm_pause_white_24dp.png";
                grid.config.isRotating = true;
                ifPaused = 0
            }
        }

        // end pause button section 
        

        let traceList = [];
        function onResults(results) {

            canvasCtx.save();
            canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);
            canvasCtx.drawImage(
                results.image,
                0,
                0,
                canvasElement.width,
                canvasElement.height
            );

        
            if (landplaceholder?.length != 0) {


                if (moving == 1) {  // if sign j or z is selected
                    
                    static_sign = [landplaceholder.slice(frame_count, frame_count + 21)] // this takes a single frame's datapoints of the 40-frame moving sign
                    trace_point = moving_points_plot[trace_tip]
                    console.log(trace_tip, trace_point)

                    traceList.push(static_sign[0][trace_point])  // a collection of the datapoints at which index tip is at

                    static_sign[0] = [...static_sign[0], ...traceList] 

                    const static_landmarks = static_sign.reduce(
                        (prev, current) => [...prev, ...current],
                        []
                    );


                    console.log(static_sign)
                    const colors = [];
                    let connections = [];
                    for (let loop = 0; loop < static_sign.length; ++loop) {
                        const offset = loop * HAND_CONNECTIONS.length;
                        const offsetConnections = HAND_CONNECTIONS.map((connection) => [
                            connection[0] + offset,
                            connection[1] + offset,
                        ]);
                        connections = connections.concat(offsetConnections);
                        const classification = results.multiHandedness[loop];
                        // console.log(results.multiHandedness[loop]);
                        colors.push({
                            list: offsetConnections.map((unused, i) => i + offset),
                            // color: loop == 0 ? "Left" : "Right",  // if loop is 0, do left (left is one color), if not then do right (another color)
                            // this is to set the static hand and the live hand to be two different colors
                            color: "Left"
                        });
                    }
                    grid.updateLandmarks(static_landmarks, connections, colors);
                    frame_count += 21
                    
                    if (frame_count >= 840) {
                        frame_count = 0
                        traceList = []
                    }                
                }

                else {  // if any other sign is selected
                    // console.log(landplaceholder.length)
                    
                    static_sign = [landplaceholder] // this is the datapoints for the static sign the user has selected to view
                    console.log('landplaceholder', landplaceholder)

                    const static_landmarks = static_sign.reduce(
                        (prev, current) => [...prev, ...current],
                        []
                    );

                    const colors = [];
                    let connections = [];
                    for (let loop = 0; loop < static_sign.length; ++loop) {
                        const offset = loop * HAND_CONNECTIONS.length;
                        const offsetConnections = HAND_CONNECTIONS.map((connection) => [
                            connection[0] + offset,
                            connection[1] + offset,
                        ]);
                        connections = connections.concat(offsetConnections);
                        const classification = results.multiHandedness[loop];
                        console.log(results.multiHandedness[loop]);
                        colors.push({
                            list: offsetConnections.map((unused, i) => i + offset),
                            // color: loop == 0 ? "Left" : "Right",  // if loop is 0, do left (left is one color), if not then do right (another color)
                            // this is to set the static hand and the live hand to be two different colors
                            color: "Left"
                        });
                    }
                    grid.updateLandmarks(static_landmarks, connections, colors);
        
                }
            
            }
           
            else {
                grid.updateLandmarks([])
            }

            if (results.multiHandWorldLandmarks) {
                // if (results.multiHandWorldLandmarks.length > 0)
                    // console.log(results.multiHandWorldLandmarks);
                // We only get to call updateLandmarks once, so we need to cook the data to
                // fit. The landmarks just merge, but the connections need to be offset.
                const landmarks = results.multiHandWorldLandmarks.reduce(
                    (prev, current) => [...prev, ...current],
                    []
                );
                const colors = [];
                let connections = [];
                for (
                    let loop = 0;
                    loop < results.multiHandWorldLandmarks.length;
                    ++loop
                ) {
                    const offset = loop * HAND_CONNECTIONS.length;
                    const offsetConnections = HAND_CONNECTIONS.map((connection) => [
                        connection[0] + offset,
                        connection[1] + offset,
                    ]);
                    connections = connections.concat(offsetConnections);
                    const classification = results.multiHandedness[loop];
                    // console.log(results.multiHandedness, loop);
                    colors.push({
                        list: offsetConnections.map((unused, i) => i + offset),
                        color: classification.label,
                    });
                }
                grid2.updateLandmarks(landmarks, connections, colors);
            } 
            
            else {
                grid2.updateLandmarks([]);
            }
            
            let canvases_parent = document.getElementsByClassName('landmark-grid-container')
            canvases = [canvases_parent[0].children[0].children[0], canvases_parent[1].children[0].children[0]]

            resizeCanvas(canvases)
        }



        const hands = new Hands({
            locateFile: (file) => {
                return `https://cdn.jsdelivr.net/npm/@mediapipe/hands/${file}`;
            },
        });
        hands.setOptions({
            maxNumHands: 2,
            modelComplexity: 1,
            minDetectionConfidence: 0.5,
            minTrackingConfidence: 0.5,
        });
        hands.onResults(onResults);

        const camera = new Camera(videoElement, {
            onFrame: async () => {
                await hands.send({ image: videoElement });
            },
            width: 1280,
            height: 720,
        });
        camera.start();


        // canvases_parent = document.getElementsByClassName('landmark-grid-container')
        square_boxes = document.getElementsByClassName('square-box')
        // note: canvases_parent[0] = landmark-grid-container-1; the first child of that is viewer-widget-js, and the first child of THAT is canvas (aka grid background)
        // canvases = [canvases_parent[0].children[0].children[0], canvases_parent[1].children[0].children[0]]

       

        window.onresize = function(event){
            resizeCanvas(canvases)
    
            console.log('WINDOW:', window.innerHeight, window.innerWidth, typeof(window.innerWidth))

            console.log('SQUARE BOXES', square_boxes[0])
            console.log('CANVASES', canvases[0].height, canvases[0].width)

        }
    </script>

</body>

</html>